@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;

  --color-dark-primary: rgba(34, 35, 37, 1);
  --color-dark-secondary: rgba(51, 51, 51, 0.68);
  --color-light-primary: rgba(255, 255, 255, 1);
  --color-light-secondary: rgba(193, 194, 196, 1);

  --color-primary: rgba(62, 207, 76, 1);
  --color-primary-100: rgba(226, 252, 217, 0.8);
  --color-primary-200: rgba(192, 250, 180, 1);
  --color-primary-300: rgba(148, 240, 139, 1);
  --color-primary-400: rgba(107, 226, 107, 1);
  --color-secondary: rgba(255, 189, 58, 1);
  --color-tertiary: rgba(246, 73, 32, 1);

  --color-border: rgba(58, 53, 65, 0.12);
}

@theme inline {
  --font-heading: var(--font-poppins);
  --font-body: var(--font-dmsans);
}

body {
  font-family: var(--font-body);
}

.container-default {
  @apply mx-auto w-full max-w-[1200px];
}

.heading-1 {
  @apply font-poppins font-bold text-2xl sm:text-5xl;
}

.heading-3 {
  @apply font-poppins font-semibold text-2xl sm:text-[2rem];
}

.heading-5 {
  @apply font-poppins font-semibold text-xl sm:text-2xl;
}

.heading-6 {
  @apply font-poppins font-semibold text-base sm:text-lg;
}

.body-large {
  @apply text-base sm:text-lg font-body;
}

.body-medium {
  @apply text-sm sm:text-base font-body;
}

.body-small {
  @apply text-xs sm:text-sm font-body;
}

/* components */

/* Button Components */
.btn {
  @apply px-[1.625rem] py-2.5 rounded-[10px] text-sm sm:text-base font-body font-bold cursor-pointer transition duration-300;
}

.btn--primary {
  @apply bg-primary text-light-primary active:bg-green-600;
}

.btn--primary-shadowed {
  @apply bg-primary-100 text-primary active:bg-primary-200;
}

.btn--secondary {
  @apply bg-secondary text-light-primary active:bg-yellow-400;
}

/* Form Components */

.form-label {
  @apply block text-sm sm:text-base font-medium text-dark-secondary mb-1;
}
.form-input {
  @apply w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-green-500 text-sm sm:text-base font-body text-dark-primary placeholder:text-dark-secondary;
}
