@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;

  --color-dark-primary: rgba(34, 35, 37, 1);
  --color-dark-secondary: rgba(51, 51, 51, 0.68);
  --color-light-primary: rgba(255, 255, 255, 1);
  --color-primary: rgba(62, 207, 76, 1);
  --color-tertiary: rgba(246, 73, 32, 1);
}

@theme inline {
  --font-heading: var(--font-poppins);
  --font-body: var(--font-dmsans);
}

body {
  font-family: var(--font-body);
}
